<ion-view view-title="Account">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear button-dark">
            Cancel
        </button>
    </div>
    <ion-content class="has-header">
        <ul class="profile" style="margin-left:5%;">
            <li class="profile">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
            <li class="profile" style="list-style-type: none;">
                <a href=""><img src="http://placehold.it/50x50"></a>
            </li>
        </ul>
    </ion-content>
</ion-view>
