/* Empty. Add your own CSS if you like */
.Insta {
    font-family: 'Pacifico', cursive;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center
}

.item-avatar {
    max-height: 30px;
    margin-left: -10px;
}

.item-avatar > h2 {
    position: relative;
    top: -4px;
    left: -10px;
    font-size: 13px;
}

.more {
    position: relative;
    float: right;
    top: -30px;
    color: black;
}

.list {
    padding: 0;
    margin: 0;
    color: black;
    opacity: 1;
}

.item-body {
    padding: 0;
    opacity: 1;
}
.item-body > .full-image {
    width: 100%;
}

.item .tabs {
    margin-top:0;
}

.like-share-feild {
    max-width: 28%;
    margin-top: -12px;
    padding: -5px;
    z-index: -1;
    left: 5px;
}

.item p  {
    color: black;
}

a.likes {
    color: black;
    text-decoration: none;
}

.nopad {
    padding: 0;
    margin: 0;
}

.noborder {
    border: none;
}

.tabs-striped 
.tab-item.tab-item-active, 
.tabs-striped .tab-item.active, 
.tabs-striped .tab-item.activated {
    margin-top: 0px;
    border: none;
}

.profile ul {
    list-style-type: none;
}

.imageholder {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 

.profile li img {
    float: left;
    border: 5px solid #fff;
    width: 30%;
    height: 10%;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}
 

.profile li img:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255, 255, 255,
    0.9);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: center;
  border-color: transparent;
  font-size: 20px;
  color: inherit;     
  border: 1px solid #e6e6e6;
}
.action-sheet-group {
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
.action-sheet .button {
  display: block;
  padding: 1px;
  width: 100%;
  border-radius: 0;
  border-color: #d1d3d6;
  background-color: transparent;
  color: #808080;
  text-align: center;
  border: 1px solid black;
}
.platform-android .action-sheet-cancel {
    display: block !important;
    color: red;
}

