<ion-view view-title="Camera">
    <div class="bar bar-header bar-stable">
        <a class="button button-icon" href="#/tab/camera">Cancel</a>
        <h1 class="title">All photos</h1>
        <a class="button button-icon">Next</a>
    </div>       

  <ion-content class="has-header"> 
      <div class="center">
          <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}"> 
      </div>      
      <div class="bar bar-footer">
          <div class="button-bar">
              <a class="button button-full" style="border:1px #d8d8d8 solid; border-right:none; margin-top:-1px;" ng-click="confirmPhoto()">
                  Do you confirm that photo?
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>
