<ion-view view-title="Account">
    <div class="bar bar-header bar-stable">
        <button class="button button-icon icon ion-android-person-add"></button>
        <div class="title title-small">roman.kucherenko</div>
        <button class="button button-icon icon ion-gear-a"></button>
    </div>   
  <ion-content class="has-header">
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="account in accounts" type="item-text-wrap">
          <img ng-src="{{account.face}}">
          <h2>{{account.name}}</h2>
      </ion-item>-->
      <ion-item class="nopad">          
          <div class="row nopad">
              <div class="col col-25"><img src="img/avatar.jpg" width="68" height="68" style="border-radius:50%" /></div>
              <div class="col col-75">
                  <div class="row" style="text-align: center; line-height:90%">
                      <div class="col">
                          <p><b>1</b></p><p style="color:#696969">publications</p>
                      </div>
                      <div class="col">
                          <p><b>8</b></p><p style="color:#696969">followers</p>
                      </div>
                      <div class="col">
                          <p><b>5</b></p><p style="color:#696969">subscriptions</p>
                      </div>                                     
                  </div>
                  <button button-stable style="width:100%; border:none">Edit profile</button>     
              </div>
          </div>
          <p>Some text here</p>
      </ion-item>
      <div>
          <div class="row">
              <div class="col-33" ng-repeat="post in posts">
                  <img class="full-image" ng-src="{{post.image}}"> 
              </div>              
          </div>
      </div>
  </ion-content>
</ion-view>
